p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #d6dce0; 
    padding: 10px;
    background-color: #377cbd;
    border-radius: 100px;
    
}

h1 {
    font-size: 20px;
    font-weight:lighter;
    text-align: center;
    color: #d6dce0; 
    padding: 10px;
    background-color: #377cbd;
    border-radius: 100px;
    
}



