.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2e6da4;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 300px;
  padding: 12px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: hsl(199, 68%, 61%);
  color: white;
  padding: 12px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
  &:hover {
      background-color: hsl(199, 76%, 42%);
  }
}
