<!-- Navbar -->
<nav class="navbar">
  <ul class="navbar-nav">
    <li >
      <button mat-button routerLink="/home">Home</button>
    </li>

    <button mat-button [matMenuTriggerFor]="searchMenu">Search (Owner, Property, Repair)</button>
    <mat-menu #searchMenu="matMenu">
      <button mat-menu-item routerLink="/UserSearch">Owner </button>
      <button mat-menu-item routerLink="/PropertySearch">Property </button>
      <button mat-menu-item routerLink="/RepairSearch">Repair </button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="details">User Details</button>
    <mat-menu #details="matMenu">
      <button mat-menu-item routerLink="/user-details">General details</button>
      <button mat-menu-item routerLink="/user-property-details">Property Details</button>
      <button mat-menu-item routerLink="/user-repair-details">Repair Details</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="propertyOwnerMenu">Property Owner</button>
    <mat-menu #propertyOwnerMenu="matMenu">
      <button mat-menu-item routerLink="/GetOwners">Find Owner</button>
      <button mat-menu-item routerLink="/OwnerPost">Create owner</button>
      <button mat-menu-item routerLink="/OwnerPut">Update owner</button>
      <button mat-menu-item routerLink="/OwnerDelete">Delete owner</button>

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="propertyMenu">Property</button>
    <mat-menu #propertyMenu="matMenu">
      <button mat-menu-item routerLink="/GetProperty">Find Property</button>
      <button mat-menu-item routerLink="/PostProperty">Create Property</button>
      <button mat-menu-item routerLink="/PutProperty">Update Property</button>
      <button mat-menu-item routerLink="/DeleteProperty">Delete Property</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="repairsPageMenu">Repairs Page</button>
    <mat-menu #repairsPageMenu="matMenu">
      <button mat-menu-item routerLink="/GetRepair">Find Repair</button>
      <button mat-menu-item routerLink="/PostRepair">Create Repair</button>
      <button mat-menu-item routerLink="/PutRepair">Update Repair</button>
      <button mat-menu-item routerLink="/DeleteRepair">Delete Repair</button>
    </mat-menu>

    <li>
      <button mat-button class="logout" (click)="logout()">Logout</button>
    </li>
  </ul>

</nav>

<!-- Main Content -->
<div class="main-content">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

